In [1]:
import os
import glob2
from IPython.display import Image, display
import pandas as pd
import pipeline as pl  # import the functions from our pipeline
import sklearn.preprocessing

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
os.getcwd()

'C:\\Users\\edwar.WJM-SONYLAPTOP\\Documents\\GitHub\\ML_spring_2019\\exercise five'

# Working with the project grant database

In [3]:
projects = pl.load_and_peek_at_data('raw data/projects_2012_2013.csv',
                                 date_vars=['date_posted', 'datefullyfunded'],
                                 summary=True)

************************
************************


Head of data:
                          projectid                    teacher_acctid  \
0  00001ccc0e81598c4bd86bacb94d7acb  96963218e74e10c3764a5cfb153e6fea
1  0000fa3aa8f6649abab23615b546016d  2a578595fe351e7fce057e048c409b18
2  000134f07d4b30140d63262c871748ff  26bd60377bdbffb53a644a16c5308e82
3  0001f2d0b3827bba67cdbeaa248b832d  15d900805d9d716c051c671827109f45
4  0004536db996ba697ca72c9e058bfe69  400f8b82bb0143f6a40b217a517fe311

                           schoolid  school_ncesid  school_latitude  \
0  9f3f9f2c2da7edda5648ccd10554ed8c   1.709930e+11        41.807654
1  3432ed3d4466fac2f2ead83ab354e333   6.409801e+10        34.296596
2  dc8dcb501c3b2bb0b10e9c6ee2cd8afd   6.227100e+10        34.078625
3  8bea7e8c6e4279fca6276128db89292e   3.600090e+11        40.687286
4  fbdefab6fe41e12c55886c610c110753   3.606870e+11        40.793018

   school_longitude    school_city school_state school_metro  \
0        -87.673257        Chicago           IL        urban
1       -119.296596        Ventura           CA        urban
2       -118.257834    Los Angeles           CA        urban
3        -73.988217       Brooklyn           NY        urban
4        -73.205635  Central Islip           NY     suburban

                school_district       ...       secondary_focus_subject  \
0         Pershing Elem Network       ...                   Visual Arts
1  Ventura Unif School District       ...          Literature & Writing
2     Los Angeles Unif Sch Dist       ...               Social Sciences
3      New York City Dept Of Ed       ...                           NaN
4   Central Islip Union Free SD       ...          Literature & Writing

  secondary_focus_area resource_type    poverty_level    grade_level  \
0     Music & The Arts      Supplies  highest poverty  Grades PreK-2
1  Literacy & Language         Books  highest poverty     Grades 3-5
2     History & Civics    Technology     high poverty     Grades 3-5
3                  NaN         Books     high poverty  Grades PreK-2
4  Literacy & Language    Technology     high poverty  Grades PreK-2

  total_price_including_optional_support students_reached  \
0                                1498.61             31.0
1                                 282.47             28.0
2                                1012.38             56.0
3                                 175.33             23.0
4                                3591.11            150.0

  eligible_double_your_impact_match date_posted datefullyfunded
0                                 f     4/14/13          5/2/13
1                                 t      4/7/12         4/18/12
2                                 f     1/30/12         4/15/12
3                                 f    10/11/12         12/5/12
4                                 f      1/8/13         3/25/13

[5 rows x 26 columns]
************************
************************


Tail of data:
                               projectid                    teacher_acctid  \
124971  fffcfa4388e8ac482c44734bffa891c8  18b4c1437decf26b5f2c92b071962f82
124972  fffda9a35e156656df0a2e2c7091e9cf  9cc41ef1d42c253bde0866d2c490a6db
124973  fffe0bb8af3b9cd93046b49653cc923a  820b80005bdffb74fe85e4deb11c5a07
124974  fffe45b28ea6f2889de1e3f797fb31a3  defe5366f82c80715343e58cf95bd2ac
124975  fffeebf4827d745aa36b17c2d38d1966  96c1a33b4f2b832595c3c6a01bc24c05

                                schoolid  school_ncesid  school_latitude  \
124971  212357c91e4f9db903e37691b80f1e46   3.600150e+11        40.615929
124972  4e3fa7096549dae8b2c92cadd536b5f8   4.823640e+11        29.821455
124973  bb477994115ad6275e95623e927c040e   3.416290e+11        40.231834
124974  10a9c48f27d12ef702f27547db13a19b   8.069000e+10        39.875904
124975  7bb6b1924a7bd181ab5568b062260966   6.346201e+10        38.654224

        school_longitude  school_city school_state school_metro  \
124971        -73.912835     Brooklyn           NY        urban
124972        -95.399082      Houston           TX        urban
124973        -74.777481      Trenton           NJ        urban
124974       -105.031563  Westminster           CO     suburban
124975       -121.308122    Fair Oaks           CA     suburban

                     school_district       ...       secondary_focus_subject  \
124971      New York City Dept Of Ed       ...           Character Education
124972   Houston Ind School District       ...                   Visual Arts
124973       Trenton School District       ...                           NaN
124974    Adams 12 Five Star Schools       ...               Performing Arts
124975  San Juan Unified School Dist       ...                           NaN

       secondary_focus_area resource_type    poverty_level  grade_level  \
124971     Applied Learning      Supplies     high poverty   Grades 3-5
124972     Music & The Arts    Technology     high poverty  Grades 9-12
124973                  NaN         Books  highest poverty   Grades 3-5
124974     Music & The Arts         Other  highest poverty   Grades 3-5
124975                  NaN         Other  highest poverty   Grades 6-8

       total_price_including_optional_support students_reached  \
124971                                 990.99             32.0
124972                                 873.32            156.0
124973                                 184.05             20.0
124974                                 345.84            500.0
124975                                 938.00             11.0

       eligible_double_your_impact_match date_posted datefullyfunded
124971                                 t     6/24/12         7/30/12
124972                                 t    10/20/13        12/15/13
124973                                 f      9/2/12        10/17/12
124974                                 f     1/14/12         1/29/12
124975                                 f     12/1/12         1/17/13

[5 rows x 26 columns]
************************
************************


column names of data:
Index(['projectid', 'teacher_acctid', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_metro', 'school_district', 'school_county', 'school_charter',
       'school_magnet', 'teacher_prefix', 'primary_focus_subject',
       'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area',
       'resource_type', 'poverty_level', 'grade_level',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'date_posted', 'datefullyfunded'],
      dtype='object')
************************
************************


number of rows of data:
124976
************************
************************





Summary of data:
       school_ncesid  school_latitude  school_longitude  \
count   1.157430e+05    124976.000000     124976.000000
mean    2.448448e+11        36.827284        -95.859299
std     1.644728e+11         4.963669         18.392876
min     1.000050e+10        18.249140       -171.690554
25%     6.344101e+10        33.872504       -117.806418
50%     2.200870e+11        36.617410        -90.101563
75%     3.704880e+11        40.676156        -80.713740
max     6.100010e+11        65.672562        -66.628036

       total_price_including_optional_support  students_reached
count                           124976.000000     124917.000000
mean                               654.011811         95.445760
std                               1098.015854        163.481912
min                                 92.000000          1.000000
25%                                345.810000         23.000000
50%                                510.500000         30.000000
75%                                752.960000        100.000000
max                             164382.840000      12143.000000

## Look at graphs of our data

In [ ]:
pl.make_graphs(projects, normal_qq_plots=False)

In [ ]:
for imageName in glob2.glob('figures/*.png'):
    display(Image(filename=imageName))
    print(imageName)

In [4]:
# make dummy vars
cat_vars = ['primary_focus_subject', 'secondary_focus_area', 'secondary_focus_subject',
#             'school_city', 
            'school_metro', 
#             'school_state', 
            'school_charter', 'school_magnet',
           'primary_focus_area', 'resource_type', 'poverty_level', 'grade_level',
           'eligible_double_your_impact_match']
for var in cat_vars:
    projects = pl.make_dummies(projects, var)

In [5]:
# make dummy outcome var
projects['60_day_outcome'] = (projects['datefullyfunded'] -
                              projects['date_posted']) > pd.Timedelta('60 days')

In [6]:
# take a subset of our features
new_cat_vars = [col for col in projects if col.startswith('D_')]
vars_to_keep = new_cat_vars + ['date_posted', 'students_reached',
                               'total_price_including_optional_support', '60_day_outcome']
projects = projects[vars_to_keep]

# Make test and training sets

In [7]:
test_set_ranges = [('2012-01-01', '2012-04-30', '2012-07-01', '2012-10-31'), 
                   ('2012-01-01', '2012-10-31', '2013-01-01', '2013-04-30'), 
                   ('2012-01-01', '2013-04-30', '2013-07-01', '2013-10-31')]

In [8]:
date_subset = test_set_ranges[0]
train, test = pl.split_using_date(projects[0:40000],
                               train_start_date=date_subset[0],
                               train_end_date=date_subset[1],
                               test_start_date=date_subset[2],
                               test_end_date=date_subset[3])
print('training start and end dates are ', date_subset)
print('training data dimensions:')
print(train.shape)

# Fill missing values
pl.fill_missing(train, imputation_method='median')
pl.fill_missing(test, imputation_method='median')

# Split our training and test sets into x and y variables:
x = train.drop(['60_day_outcome', 'date_posted'], axis=1)
x_t = test.drop(['60_day_outcome', 'date_posted'], axis=1)
scaling = sklearn.preprocessing.MinMaxScaler(feature_range=(-1,1)).fit(x)
x_scaled = scaling.transform(x)
scaling = sklearn.preprocessing.MinMaxScaler(feature_range=(-1,1)).fit(x_t)
x_t_scaled = scaling.transform(x_t)
y = train['60_day_outcome']
y_t = test['60_day_outcome']

print('mean of 60 day outcome in training set:')
print(round(y.mean(), 2), '\n\n\n')

training start and end dates are  ('2012-01-01', '2012-04-30', '2012-07-01', '2012-10-31')
training data dimensions:
(6740, 95)
mean of 60 day outcome in training set:
0.31

In [ ]:
pl.compare_models(x_data=x, x_data_scaled=x_scaled, y_data=y,
               x_test=x_t, x_test_scaled=x_t_scaled,
               y_test=y_t, use_test_data=True,
               run_svm=True,
               run_tree=True,
               run_boosted=False, 
               run_bagging=True,
               run_logit=True,
               run_a_forest=True,
               run_knn=True,
               mythresholds=[0, 1, 2, 5, 10, 20, 30, 50, 60, 70, 90, 100])

## Run our first set, with training set = first 6 months of data

In [ ]:
compare_models(x_data=x, x_data_scaled=x_scaled, y_data=y,
               x_test=x_t, x_test_scaled=x_t_scaled,
               y_test=y_t, use_test_data=True,
               #run_svm=True,
               run_tree=True,
               run_boosted=False, 
               run_bagging=True,
               run_logit=True,
               run_a_forest=True,
               run_knn=True,
                mythresholds=[0, .01, .02, .05, .1, .2, .3, .5, .6, .7, .9, 1])

## Run our second set, with training set = first 12 months of data

In [ ]:
date_subset = test_set_ranges[1]
train, test = split_using_date(projects,
                               train_start_date=date_subset[0],
                               train_end_date=date_subset[1])
print('training start and end dates are ', date_subset)
print('training data dimensions:')
print(train.shape)
print('\n\n')

x = train.drop(['60_day_outcome', 'date_posted'], axis=1)
x_t = test.drop(['60_day_outcome', 'date_posted'], axis=1)
scaling = MinMaxScaler(feature_range=(-1,1)).fit(x)
x_scaled = scaling.transform(x)
scaling = MinMaxScaler(feature_range=(-1,1)).fit(x_t)
x_t_scaled = scaling.transform(x_t)
y = train['60_day_outcome']
y_t = test['60_day_outcome']

print('mean of 60 day outcome in training set:')
print(round(y.mean(), 2), '\n')

compare_models(x_data=x, y_data=y, x_test=x_t, y_test=y_t, use_test_data=True,
               run_tree=True,
               run_boosted=False, 
               run_bagging=True,
               run_logit=True,
               run_a_forest=True,
               run_knn=True,
               mythresholds=[0, .01, .02, .05, .1, .2, .3, .5, .6, .7, .9, 1])

## Run our third set, with training set = first 18 months of data

In [ ]:
date_subset = test_set_ranges[2]
train, test = split_using_date(projects,
                               train_start_date=date_subset[0],
                               train_end_date=date_subset[1])
print('training start and end dates are ', date_subset)
print('training data dimensions:')
print(train.shape)

x = train.drop(['60_day_outcome', 'date_posted'], axis=1)
x_t = test.drop(['60_day_outcome', 'date_posted'], axis=1)
scaling = MinMaxScaler(feature_range=(-1,1)).fit(x)
x_scaled = scaling.transform(x)
scaling = MinMaxScaler(feature_range=(-1,1)).fit(x_t)
x_t_scaled = scaling.transform(x_t)
y = train['60_day_outcome']
y_t = test['60_day_outcome']

print('mean of 60 day outcome in training set:')
print(round(y.mean(), 2), '\n')

compare_models(x_data=x, y_data=y, x_test=x_t, y_test=y_t, use_test_data=True,
               run_tree=True,
               run_boosted=False, 
               run_bagging=True,
               run_logit=True,
               run_a_forest=True,
               run_knn=True,
               mythresholds=[0, .01, .02, .05, .1, .2, .3, .5, .6, .7, .9, 1])